{% extends "layout.html" %}

{% block title %}
    HomePage
{% endblock %}

{% block content %}
    <h3>Search for a book!</h3>
    <form action="/search" method="GET">
        <div class="form-group w-50 justify-content-center align-items-center mx-auto">
            <input type="text" class="form-control" name="book" autofocus aria-describedby="bookHelp" placeholder="ISBN, Title or Author">
            <small id="bookHelp" class="form-text text-muted">Example: 0375508325, Title or Author</small>
        </div>
        <button class="btn btn-primary" type="submit" disabled>Search</button>
    </form>
{% endblock %}
